extends ../layout

block content
  h1 New Supplier
  form(action="/suppliers", method="post")
    div
      label Name:
      input(type="text", name="name", required)
    div
      label Address:
      input(type="text", name="address", required)
    div
      label Phone:
      input(type="text", name="phone", required)
    button(type="submit") Create
