extends layout

block content
  .container
    nav
      ul
        li: a(href='/') Home
        li: a(href='/suppliers') Suppliers
        li: a(href='/products') Products
    h1= title
    p= message
    ul
      li: a.new-link(href='/suppliers') Suppliers
      li: a.new-link(href='/products') Products
